<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        .top-btn {
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 10px 15px;
    background: #333;
    color: blue;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    z-index: 1000;
    background-color: gray
}
.top-btn:hover {
    background: #555;
    background-color: lightgrey;
}
male {
    color: red;
    font-size: 12px;
    }
    </style>
    <meta charset="UTF-8">
    <title>Administracja</title>
</head>
<body>
    <a href='{{ url_for("index") }}' class="top-btn">Powrót do menu</a>
    <h1>Witaj {{ login }}</h1>
    <h3>Link do grupy jest <a href="https://discord.gg/W4fYYaq9hG">&Rightarrow;tutaj&Leftarrow;</a></h3>
    <h3>Dane profilowe:</h3>
    <ul>
        <li>Data założenia konta: {{ data }}</li>
        <li>Najwyższy pokonany poziom: {{ poziom }}</li>
    </ul>
    <hr>
    <h4>Zmiana hasła:</h4>
    <form method="post" action="/administracja">
        <p>stare hasło: <input type="text" name="str" size="100" required></p>
        <p>nowe hasło: <input type="text" name="nw" size="100" required></p>
        <p>powtórz nowe hasło: <input type="text" name="pnw" size="100" required></p>
        {% if admin_err == 1 %}
            <male>Zmiana przebiegła pomyślnie</male>
        {% elif admin_err == 2 %}
            <male>Błędne stare hasło</male>
        {% elif admin_err == 3 %}
            <male>Hasła nie są takie same</male>
        {% endif %}
        <button type="submit">Wyślij</button>
    </form>
    <hr>
    <a href='{{ url_for("logout") }}'>Wyloguj</a>

</body>
</html>