<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Szyf Leonarda Królczyka</title>
</head>
<body>
    <a href='{{ url_for("index") }}'>&lAarr; Powrót do menu</a>
    <br>
    <br>
    <a href='{{ url_for("deszyfracja_pyt") }}'>&lAarr; Powrót do odkodowywania</a>
    <h1>Błąd</h1>
    <h3>Ktoś obecnie rozwiązuje test w którym występuje wpisane przez ciebie hasło</h3>
    <h3>Jako że to prawdopodbnie ty próbowałeś oszukiwać, to cały twój postęp został zniweczony.</h3>
    <p>Oznacza to że aby nie pomagać zbytnio tej osobie nie możemy pokazać ci odkodowanej wiadomości.</p>
    <hr>
    <p>Jeżeli sytuacja powtaża ci się notorycznie to może oznaczać że ktoś otrzymał ten kryptogram i wyszedł ze strony
    Czekj do aktualizacji 3.5 w której zostanie wprowadzone automatyczne czyszczenie strony, bo do tej pory będę
    zmuszony czyścić bazę ręcznie.</p>
</body>
</html>