<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Szyf Leonarda Królczyka</title>
</head>
<body>
    <a href='{{ url_for("index") }}'>&lAarr; Powrót do menu</a>
    <h1>Przejście do testu</h1>
    <h4>Test do którego wchodzisz ma 5 etapów.<br>
    W każdym z nich możesz popełnić 3 błędy po których powrócisz do tej strony.</h4>
    <form method="post" action="/test">
        <button type="submit">Przejdź do testu</button>
        <input type="hidden" name="wiadomosc" value="§xyz§">
    </form>
</body>
</html>